@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* Estilos para a div de login */
.login-container {
    margin-left: 40%;
    background-color: #2da63f;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    color: rgb(0, 0, 0);
    text-align: center;
}
#login-success {
    background-color: #2da63f; /* Cor de fundo verde, semelhante à da div de login */
    color: white; /* Cor do texto branca */
    padding: 10px; /* Espaçamento interno */
    border-radius: 10px; /* Borda arredondada */
    text-align: center; /* Centraliza o texto horizontalmente */
    margin-top: 10px; /* Margem superior para separá-lo de outros elementos */
    display: none; /* Inicialmente, esconda a mensagem */
}



/* Estilos para os campos de entrada e rótulos */
form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

form input[type="text"],
form input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Estilos para o botão de entrada */
form button {
    background-color: white;
    color: black;
    border: none;
    padding: 10px 20px;
    margin-top: 15px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

form button:hover {
    background-color: #454545;
    color: white;
}
